.h1center {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.formbox {
    border: 1px solid black;
    padding: 15px;
    width:300px;
}
button {
    margin-top: 15px;
    margin-bottom: 15px !important; 
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #bbd9e4;
}
.bottom-group {
    margin-bottom: 0px;
}
.formbox {
    margin: 0 auto;
}


.container {
    margin: 0;
}