.form-box {
    border: 1px solid black;
    width: 700px;
    padding: 25px;
    margin: 0 auto;
    margin-top: 50px; 
}

div.form-box {
    text-align: left;
}

body {
    height: 1000px;
}

.topic {
    background-color: rgb(0, 183, 255);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 25px; 
    color: white;
    font-size: 1.4em;
}

.btn-right {
    margin-right: 50px; 
}

.confirm-group button {
    padding: 10px 30px;
    font-size: 1.2em;
    /* margin-right: 100px;  */
}

.confirm-group {
    text-align: center;
    width: 100%;
}

.form-group .control-label {
    text-align: left;
}