nav .box-search {
    border: 1px solid black;
    width: 300px;
}

.img-crop {
    width: 100%;
    display: block;
    overflow: hidden;
}

td {
    width: 25%;
}
.tb-box {
    width:800px;
    margin: auto;
}

tr {
    margin-bottom: 15px; 
    display: block;
}



.logo {
    margin-right: 500px; 
    padding: 15px
}
