.nav-c {
    text-align: center!important;
}

.foot {
    background: pink;
    text-align: center;
    bottom: 0px;
    position: fixed;
    padding-top: 7px; 
    padding-bottom: 7px; 
    width: 100%;
}

.border-left {
    border-left: 2px solid blue; 
}
