.frame {
    margin-top: 50px; 
    width:100%;
    height: 450px;
    overflow: hidden;
    border: 1px solid black;
}

.fix-img {
    width: 100%;
}

.btn-color {
    width: 100%;
    background: rgb(223, 88, 88);
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
    color: white;
}

a, a:hover {
    color: black;
    text-decoration: none;
}