.pic-profile {
    width: 250px;
}


.box-top {
    border-top: 2px solid rgb(184, 101, 114); 
    margin-top: 30px; 
}
.canvas {
    height: 2000px;
}

.mg-box {
    margin-bottom: 40px;
}
h3 {
    margin-bottom: 20px;
}

.bg-right {
    background: rgb(184, 101, 114);
    padding-bottom: 40px;
    color: white;
}
.change-color {
    color:rgb(184, 101, 114);
}

.mg-top {
    margin-top: 50px;
}