.mg-b {
    margin-bottom: 0px;
}

.nav-box {
    border-radius: 0; 
}

.collapse-mgt {
    margin-top: 16px;
}
.name-logo {
    font-size: 2em;
    margin-top: 16px;
    color: white!important;
}

.input-group .form-control {
    width: 20%;
    float: right;
}

.icon-mg {
    color:white;
    font-size: 1.2em;
    margin-right: 12px; 
    margin-top: 8px;;
    line-height: auto;
}

.search-mg {
    margin-top: 17px;
}

.logo {
    float: left;
    width: 50px;
    padding-top: 10px; 
    padding-bottom: 10px; 
    margin-right: 5px;
}

.vdo-box {
    margin-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
}

.clear-mg {
    margin: 0;
}
.clear-pd {
    padding: 0;
}

.pd-b {
    padding-bottom: 50px; 
}