/* .frame{
    width: 700px;
    text-align: center;
}
*/
.bg-caption {
    background: rgba(0, 0, 0, 0.479);
    width: 100%;

} 

.bg-topic {
    background: rgb(74, 182, 245);
    padding: 10px 5px;

}

.bg-topic h3 {
    margin: 0;
}

.border-box {
    border: 1px solid rgb(74, 182, 245);
    padding-bottom: 10px;
    border-radius: 5px; 
}

/* .bg-caption {
    background: rgba(0, 0, 0, 0.397);
    width: 100%;
} */

.canvas {
    height: 700px;
}