.btn-orange{
    padding: 5px;
    background: orange;
}

.btn-order span {
    float: right;
}


.head-topic{
    font-size: 1.7em;
    margin: 0; 

}

.pad-product {
    padding-top: 15px;
    padding-bottom: 15px;
}

.book-pic {
    width: 150px;
}

.cost {
    /* float: left; */
    font-size: 1.2em;
    margin-top: 10px; 

}

.badge-right {
    padding-right: 12px; 
}


.bg-topic2 {
    background: rgb(74, 182, 245);
}


.box-book{
    border: 2px solid rgb(192, 192, 192);
    text-align: center;
    padding: 7px;
    border-radius: 5px; 
    margin-top: 15px; 
    margin-bottom: 15px; 
}


.p-cart-pd {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pagination{
    margin: 0px;
}




@media only screen and (max-width: 768px) {
    .form-control {
        width:100%!important;
    }

    .res-pagination {
        text-align: center!important;
    }
}

