<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <title>Homework10-1</title>
    </head>
    <body>
        <div class="container">
        <h3>User :</h3>
        <!-- <%- data%> -->
            <table class="table table-bordered" style="text-align:center">
                <tr style="background:black; color:white">  
                    <td>Id:</td>  
                    <td>Firstname</td>  
                    <td>Lastname</td>  
                    <td>Salary</td>
                    <td>Role</td>  
                </tr>         
                <% data.forEach(function (user) { %>
                <tr style="text-align:left">  
                    <td><%= user.id %></td>  
                    <td><%= user.firstname %></td>  
                    <td><%= user.lastname %></td>  
                    <td><%= user.salary %></td>
                    <td><%= user.role %></td>  
                </tr>                                   
                <% }) %>
            </table>
        </div>
    </body>
</html>