@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App .ant-input-group-addon{
  padding: 0;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}

.signUpBox {
  width: 300px;
  margin-left: auto ;
  margin-right: auto ;
}

.login-form-button {
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.scroll-box {
  overflow: scroll;
  height:250px;
}