.signup-box {
    width: 300px;
    margin: auto;
    padding: 15px;
    text-align: left;
  }

h1 {
  margin-top: 50px; 
  font-size: 50px;
}

h3 {
  margin-bottom: 0px;
}

.pad-form {
  padding: 0;
}

.ant-card-body {
  padding: 0;
}
.ant-card-head {
  padding: 0;
  border-bottom: 1px solid #86e3ff;
}

.mg-btn {
  margin-bottom: 15px;
}

hr {
  border-top:1px solid #86e3ff; 
}






.ant-carousel .slick-slide {
  text-align: center;
  height: 200px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}


.pd-card {
  padding: 15px;
}


#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);  
  margin: 16px 24px 16px 0;
  float: left;
}