
.navbar {
    background: #3E5B99;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 5px;

}
.navbar h1 {
    color: white;
    font-size: 40px; 
}

.logo-fb h1{
    margin-top: 23px;
    margin-bottom: 0px;
}

.content-box {
    background:linear-gradient(white, #D3D8E8);;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 15px;
    /* height: 800px; */
}
.content-box h1 {
    margin: 10px 0px 0 0;
      font-size: 40px; 
}

.sub-p {
    font-size: 20px; 
}

.login-left {
    text-align: left;
}

.login-left p {
    margin-bottom: 0;
    padding-top: 5px;
    color: #E9EBEE;
}

.form-inline input {
    width: 50%;
    /* padding: 0 15px; */
}

.box-right {
    text-align: right;
}

Form p {
    line-height: 1.5;
    /* color: #ffffff; */
    font-size: 12px;
}
.date-form p{
    color: #757575;
}

Form input {
    height: 29px;
    width: 170px;
}
.btn-login {
    margin-top: 29px; 
    background: #3B5998;
    color: white;
    padding: 3px 7px;
}

.form-regist .ant-input {
    height: 37px;
    font-size: 20px;
    margin-bottom: 5px;
}
.title-p {
    margin-top: 40px;
    font-size: 18px;
}

.pd-form {
    padding: 0 8px 0 50px!important;
}

.date-form select {
    height: 30px;
    width: 65px;
    margin-right: 5px;
}

.date-form h3 {
    font-size: 20px;
}

.date-form p {
    font-size: 12px;
    float: right;
    line-height:1.5;
}

.ant-form label {
    font-size: 20px;
}

.mb-15 {
    margin-bottom: 15px;
}


.date-form p{
    color: #757575!important;
}

.create-ac .btn-create {
    padding: 3px 25px;
    background: linear-gradient(#67ae55, #578843);;
    font-size: 21px;
    color: white;
    border: 1px solid rgb(4, 71, 4);
    border-radius: 7px; 
    margin-top: 20px;
}

.create-ac p{
    color: #757575;
    margin-top: 30px;
}