div.border > table, th, td {
  border: 1px solid black;
}

tr:hover { 
  background-color: greenyellow;
}

div.border-collapse > table {
  border-collapse: collapse;
}

div.border-collapse > th, td {
  border: 1px solid black;
}