@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
